<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>
<h1> Rock Paper Scissors !!!!</h1>

<h2> Choose your weapon....</h2>
<p>
    <label><input type="radio" th:name="choice" th:value="0">Rock</label>
    <label><input type="radio" th:name="choice" th:value="1">Paper</label>
    <label><input type="radio" th:name="choice" th:value="2">Scissor</label>

</p>

<form action="Output.html">

    <button type="submit">Play</button>
</form>
</body>
</html>