<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <title>Output</title>

</head>
<h1> Results</h1>



<body>

<div class="results">
<th:block th:switch="${result.comChoice}">

    <p th:class="buttons" th:case="0">Computer chose: ✊</p>
    <p th:class="buttons" th:case="1">Computer chose: ✋</p>
    <p th:class="buttons" th:case="*">Computer chose: ✌</p>

</th:block>

<th:block th:switch="${result.choice}">

    <p th:case="0">You chose: ✊</p>
    <p th:case="1">You chose: ✋</p>
    <p th:case="*">You chose: ✌</p>
</th:block>

<p th:text="${result.getWinner()}">
    The winner is
</p>
</div>
<p>
    <a href="Input.html" th:href="@{Input}">Play Again</a>
</p>

</body>
</html>