<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<h1> Results</h1>

<p th:text="choice">
    You choose
</p>

<th:block th:switch="${result.winner()}">

    <p th:case="0">Rock</p>
    <p th:case="1">Paper</p>
    <p th:case="2">Scissor</p>
</th:block>

<p th:text="${result.winner()}">
    The winner is
</p>

<p>
    <a href="Input.html" th:href="@{Input}">Play Again</a>
</p>

<p>

</p>

<body>


</body>
</html>